@font-face {
    font-family: "Cirrus-Cumulus";
    src: url('Cirrus-Cumulus/Cirrus-Cumulus.woff') format('woff'),
        url('Cirrus-Cumulus/Cirrus-Cumulus.ttf') format('truetype');
}

@font-face {
    font-family: "Gerstner-Programm";
    src: url('Gerstner-Programm/Gerstner-ProgrammRegular.woff2') format('woff2'),
        url('Gerstner-Programm/Gerstner-ProgrammRegular.woff') format('woff'),
        url('Gerstner-Programm/Gerstner-ProgrammRegular.ttf') format('truetype');
}

html {
    --blue: #0000ff;
    --gray: #eeeeee;
    --green: #00ff00;
    --white: #ffffff;
}

body {
    font-family: "Gerstner-Programm", Arial, system-ui, sans-serif;
    font-size: 21px;
    background-color: var(--gray);
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.column-one ul {
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 1.4em;
}

.column-one .li-item {
    margin-bottom: 0.20em;
    letter-spacing: 0.03em;
    line-height: 1.30;
    cursor: pointer;
    margin-left: -1.4em; /* Adjust this value to match the padding-left above */
}

.column-one .li-item:before {
    content: "﹡";
    margin-right: 0.1em;
}

.column-one {
    max-width: 670px;
    z-index: 0;
    align-self: flex-start;
}

.column-one p {
    letter-spacing: 0.03em;
    line-height: 1.35;
    margin-bottom: 1rem;
}


#last-updated-item {
    font-size: 14px;
}

#clock-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;

}

#clock-container #clock {
    font-family: "Cirrus-Cumulus";
    font-size: 22vw;
    color: var(--blue);
}

::selection {
    background-color: var(--white);
}

a:link,
a:visited {
    color: var(--blue);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: var(--green);
}


.job-title:hover {
    background-color: var(--white);
    cursor: pointer;
}

@media only screen and (min-width: 576px) {
    body {
        font-size: 20px;
    }
}

@media only screen and (max-width: 576px) {
    #clock-container {
        transform: rotate(-90deg);
    }

    #clock-container #clock {
        font-size: 40vw;
    }
}

@media (hover: hover) {
    #hover-image {
        display: none;
        position: absolute;
        pointer-events: none;
        height: 400px;
    }
}